body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  max-width: 900px;
  display: block;
  margin: auto;
}

.link-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link-elements a {
  margin: 15px;
}
